$primary-color: #fff;
$secondary-color: #242424;
$third-color: #275E96;
$mobile: 480px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1200px;

@mixin animation($name, $time: 1s , $delay){
    animation: $time linear $delay $name;
    animation-fill-mode: forwards;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    }
}

@include keyframes(pop-animation) {
    0%   { 
        transform: scale(.8);
        opacity: 0; 
    }
    100% { 
        transform: scale(1);
        opacity: 1; 
    }
}

@include keyframes(slideInLeft){
    0%   { 
        transform: translateX(-300px);
        opacity: 0; 
    }
    100% { 
        transform: translateX(0);
        opacity: 1; 
    }
}

@include keyframes(slideInRight){
    0%   { 
        transform: translateX(300px);
        opacity: 0; 
    }
    100% { 
        transform: translateX(0);
        opacity: 1; 
    }
}

@include keyframes(slideToTop){
    0%   { 
        transform: translateY(50px);
        opacity: 0; 
    }
    100% { 
        transform: translateY(0);
        opacity: 1; 
    }
}

@include keyframes(line-animation){
    0%   { 
        width: 0;
        height: 0;
    }
    100% { 
        width: 80%;
        height: 2px;
    }
}

@mixin breakpoint($media) {
  @if $media == mobile {
    @media (max-width: $mobile) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}

//GLOBAL STYLES

.container{
    width: 90%;
    margin: 100px auto 300px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.header{
    opacity: 0;
    color: $third-color;
}

.header_bar {
    opacity: 0;
    background: $third-color;
    height: 4px;
    margin: 10px 0 80px 0;
    width: 70px;
}

.toLeft{
    @include animation(slideInLeft, .5s , 0s); 
}

.toRight{
    @include animation(slideInRight, .5s , 0s); 
}

.toLeftBar{
    @include animation(slideInLeft, .75s , .5s); 
}

.toRightBar{
    @include animation(slideInRight, .75s , .5s); 
}

.pop-animation{
    @include animation(pop-animation, .75s , 1s); 
}