@import './styles/config.scss';

:root {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 400;

  @include breakpoint(mobile) {
    font-size: 12px;
    line-height: 10px;
  }

  @include breakpoint(tablet) {
    font-size: 14px;
    line-height: 20px;
  }

  @include breakpoint(desktop) {
    font-size: 18px;
    line-height: 26px;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}